target/
*.iml
*.ipr
*.iws
.idea/
.idea_modules/

.project

# OS X
Icon
Thumbs.db
.DS_Store

# SASS
*.sass-cache

# Gradle
build/
.gradle/
out/

.history

project/project

woas.spec

.sbtserver
.sbtserver.lock
log

test
activator
activator.bat
activator-launch-1.3.6.jar
src/main/resources/images
